<div class="container-fluid p-0 mb-5">
    <nav class="navbar navbar-expand-lg bg-secondary navbar-dark py-0">
        <a href="" class="navbar-brand d-block d-lg-none">
            <h1 class="m-0 display-5 text-capitalize font-italic text-white"><span class="text-primary">Safety</span>First</h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav m-auto py-4">
                <a href="{% url 'main:home' %}" class="nav-item nav-link">Home</a>
                <a href="{% url 'main:about' %}" class="nav-item nav-link active">About</a>
                <a href="{%url 'main:service' %}" class="nav-item nav-link">Services</a>
                <a href="{% url 'main:guard' %}" class="nav-item nav-link">Guards</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</a>
                    <div class="dropdown-menu text-capitalize">
                        <a href="{% url 'main:blog'%}" class="dropdown-item">Blog Grid</a>
                        <a href="{% url 'main:single' %}" class="dropdown-item">Blog Detail</a>
                    </div>
                </div>
                <a href="{% url 'main:contact'%}" class="nav-item nav-link">Contact</a>
            </div>
        </div>
    </nav>
</div>